@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,500,700,800,900&display=swap");
* {
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #fefefe;
}

/*========== Navbar Section ==========*/
nav.navbar {
  padding: 22px 0;
  background: #fefefe;
}

a.navbar-brand {
  color: #010101;
  font-size: 24px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  letter-spacing: 2px;
}

a.nav-link {
  margin-left: 20px;
  font-size: 16px;
  font-weight: 500;
  color: #010101;
}

a.nav-link:hover {
  color: #4272ff;
}
/*========== Akhir Navbar Section ==========*/

/*========== Hero Section ==========*/
#hero {
  padding: 50px 0;
  margin-bottom: 100px;
}

#hero .text-hero {
  transform: translateY(90px);
  opacity: 0;
  animation: fadeup 1s ease-in-out 1;
}
@keyframes fadeup {
  0% {
    transform: translateY(90px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
#hero .text-hero {
  transform: translateY(0px);
  opacity: 1;
}

#hero .text {
  font-weight: 800;
  font-size: 48px;
  line-height: 73px;
  color: #010101;
  padding-top: 80px;
}

#hero .button {
  margin-top: 69px;
}

.button .btn {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 28px 11px 28px;
  border-radius: 50px;
  transition: 0.5s;
  margin: 10px 0 0 0;
  color: #fff;
  background: #4272ff;
  border: none;
}

#hero .button .btn:hover {
  scale: 110%;
}
.gambar {
  transform: scale(0.2);
  animation: zoomIn 01s ease-in-out;
}
@keyframes zoomIn {
  0% {
    transform: scale(0.2);
  }
  100% {
    transform: scale(1);
  }
}

.gambar {
  padding: 10px 40px;
  transform: scale(1);
}
/*========== Akhir Hero Section ==========*/

/*========== About Section ==========*/
#about {
  padding: 50px 0;
  margin-bottom: 50px;
}

.title-about {
  font-size: 40px;
  font-weight: 800;
  color: #010101;
  line-height: 105%;
}

#about p {
  font-size: 20px;
  font-weight: 500;
  color: #010101;
  line-height: 184%;
  margin-right: 50px;
}

#about img {
  border-radius: 20px;
}
/*========== Akhir About Section ==========*/

/*========== Contact Section ==========*/
#contact.container {
  padding-top: 100px;
  padding-bottom: 100px;
}

.title-contact {
  font-size: 40px;
  font-weight: 800;
  color: #010101;
  line-height: 105%;
}

#contact h4 {
  font-size: 20px;
  font-weight: 500;
  color: #010101;
  line-height: 184%;
  margin-right: 50px;
}

label {
  font-size: 18px;
  font-weight: 500;
  color: #010101;
}

#contact .btn {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 28px 11px 28px;
  border-radius: 30px;
  transition: 0.5s;
  margin: 10px 0 0 0;
  color: #fff;
  background: #4272ff;
  border: none;
}

#contact .btn:hover {
  background: #262626;
}
/*========== Akhir Contact Section ==========*/

/*========== Footer Section ==========*/
footer .logo {
  color: #010101;
  font-size: 24px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  letter-spacing: 2px;
}

.icon-social-media {
  background-color: #010101;
  color: #ffffff;
  transition: 0.5s;
  width: 38px;
  height: 38px;
}

.icon-social-media:hover {
  background-color: #4272ff;
  color: #ffffff;
}

footer h5 {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 10px;
}
footer ul li a {
  color: #010101;
  font-size: 15px;
  font-weight: 400;
  text-decoration: none;
}

footer ul li a:hover {
  color: #4272ff;
}

hr {
  color: #010101;
}

.copyright p {
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
}
/*========== Akhir Footer Section ==========*/

/*========== Responsive ==========*/
@media (max-width: 992px) {
  #hero .text {
    padding-top: 10px;
  }

  #hero .button {
    padding-top: 10px;
    margin-bottom: 50px;
  }

  #about {
    margin-bottom: 100px;
  }

  .text-about {
    margin-bottom: 40px;
    text-align: center;
  }

  #about .text-about p {
    margin: auto;
  }
  #contact {
    margin-bottom: 50px;
  }
  #contact .text-contact {
    margin-bottom: 50px;
    text-align: center;
  }

  #contact .text-contact h4 {
    margin: auto;
  }
}
/*========== Akhir Responsive ==========*/
